recipeApp/src/index.pug
// Const
- const FAVICON = {href: 'img/favicon-32x32.png', type: 'image/x-icon', rel: 'shortcut icon'}

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    <meta name="keywords" content="HTML, Pug, CSS, Sass, Bootstrap, Webpack, ES6, Babel">
    meta(name="description" content="Find the recipe you want")
    meta(name="author" content="Dmitriy Granyov")
    title Recipe App
    // Favicon
    link(rel=FAVICON.rel href=FAVICON.href type=FAVICON.type)
  body
    header.header
      .container
        h1.logo # recipe app
        hr
        p cook it
    main.main
      .container
        .main__content
          form.search
            label.search__label search the recipe
            input.search__field(type="text")
          .main__bottom
            .results#results
              h2.results__title Search results
              hr
              .results__content
                ul.results__list
              .results__pages
            .separator.separator__light
            .recipe#recipe
              h2.results__title Recipe description
              hr
              .recipe__content
                .recipe__header
                ul.recipe__ingredient-list
    footer.footer
      .container
        hr
        p
          a.link(href="https://gitlab.com/syr1ken") @syr1ken

recipeApp/dist/index.html
<!doctype html><html lang="en"><head><meta charset="UTF-8"><meta name="viewport" content="width=device-width,initial-scale=1"><meta name="keywords" content="HTML, Pug, CSS, Sass, Bootstrap, Webpack, ES6, Babel"><meta name="description" content="Find the recipe you want"><meta name="author" content="Dmitriy Granyov"><title>Recipe App</title><link rel="shortcut icon" href="img/favicon-32x32.png" type="image/x-icon"><link href="main.be5d51543c72c1ff5b21.css" rel="stylesheet"></head><body><header class="header"><div class="container"><h1 class="logo"># recipe app</h1><hr><p>cook it</p></div></header><main class="main"><div class="container"><div class="main__content"><form class="search"><label class="search__label">search the recipe</label><input class="search__field"></form><div class="main__bottom"><div class="results" id="results"><h2 class="results__title">Search results</h2><hr><div class="results__content"><ul class="results__list"></ul></div><div class="results__pages"></div></div><div class="separator separator__light"></div><div class="recipe" id="recipe"><h2 class="results__title">Recipe description</h2><hr><div class="recipe__content"><div class="recipe__header"></div><ul class="recipe__ingredient-list"></ul></div></div></div></div></div></main><footer class="footer"><div class="container"><hr><p><a class="link" href="https://gitlab.com/syr1ken">@syr1ken</a></p></div></footer><script src="js/main.bundle.js"></script></body></html>
