exchangeRateCalculator/dist/index.html
<!doctype html><html lang="en"><head><meta name="viewport" content="width=device-width,initial-scale=1"><meta http-equiv="Content-Type" content="text/html;charset=UTF-8"><meta charset="UTF-8"><meta name="author" content="Dmitriy Granyov"><meta name="description" content="Simple Java Script Solution For Exchange Rate Calculator"><title>Exchange Rate Calculator</title><link rel="shortcut icon" href="assets/favicon.ico"><link rel="icon" type="image/png" sizes="16x16" href="assets/favicon-16x16.png"><link rel="icon" type="image/png" sizes="32x32" href="assets/favicon-32x32.png"><link rel="icon" type="image/png" sizes="48x48" href="assets/favicon-48x48.png"><link rel="manifest" href="assets/manifest.json"><meta name="mobile-web-app-capable" content="yes"><meta name="theme-color" content="#fff"><meta name="application-name" content="exchangeratecalculator"><link rel="apple-touch-icon" sizes="57x57" href="assets/apple-touch-icon-57x57.png"><link rel="apple-touch-icon" sizes="60x60" href="assets/apple-touch-icon-60x60.png"><link rel="apple-touch-icon" sizes="72x72" href="assets/apple-touch-icon-72x72.png"><link rel="apple-touch-icon" sizes="76x76" href="assets/apple-touch-icon-76x76.png"><link rel="apple-touch-icon" sizes="114x114" href="assets/apple-touch-icon-114x114.png"><link rel="apple-touch-icon" sizes="120x120" href="assets/apple-touch-icon-120x120.png"><link rel="apple-touch-icon" sizes="144x144" href="assets/apple-touch-icon-144x144.png"><link rel="apple-touch-icon" sizes="152x152" href="assets/apple-touch-icon-152x152.png"><link rel="apple-touch-icon" sizes="167x167" href="assets/apple-touch-icon-167x167.png"><link rel="apple-touch-icon" sizes="180x180" href="assets/apple-touch-icon-180x180.png"><link rel="apple-touch-icon" sizes="1024x1024" href="assets/apple-touch-icon-1024x1024.png"><meta name="apple-mobile-web-app-capable" content="yes"><meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"><meta name="apple-mobile-web-app-title" content="exchangeratecalculator"><link rel="apple-touch-startup-image" media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="assets/apple-touch-startup-image-640x1136.png"><link rel="apple-touch-startup-image" media="(device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="assets/apple-touch-startup-image-750x1334.png"><link rel="apple-touch-startup-image" media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="assets/apple-touch-startup-image-828x1792.png"><link rel="apple-touch-startup-image" media="(device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)" href="assets/apple-touch-startup-image-1125x2436.png"><link rel="apple-touch-startup-image" media="(device-width: 414px) and (device-height: 736px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)" href="assets/apple-touch-startup-image-1242x2208.png"><link rel="apple-touch-startup-image" media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)" href="assets/apple-touch-startup-image-1242x2688.png"><link rel="apple-touch-startup-image" media="(device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="assets/apple-touch-startup-image-1536x2048.png"><link rel="apple-touch-startup-image" media="(device-width: 834px) and (device-height: 1112px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="assets/apple-touch-startup-image-1668x2224.png"><link rel="apple-touch-startup-image" media="(device-width: 834px) and (device-height: 1194px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="assets/apple-touch-startup-image-1668x2388.png"><link rel="apple-touch-startup-image" media="(device-width: 1024px) and (device-height: 1366px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="assets/apple-touch-startup-image-2048x2732.png"><link rel="apple-touch-startup-image" media="(device-width: 810px) and (device-height: 1080px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="assets/apple-touch-startup-image-1620x2160.png"><link rel="apple-touch-startup-image" media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)" href="assets/apple-touch-startup-image-1136x640.png"><link rel="apple-touch-startup-image" media="(device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)" href="assets/apple-touch-startup-image-1334x750.png"><link rel="apple-touch-startup-image" media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)" href="assets/apple-touch-startup-image-1792x828.png"><link rel="apple-touch-startup-image" media="(device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)" href="assets/apple-touch-startup-image-2436x1125.png"><link rel="apple-touch-startup-image" media="(device-width: 414px) and (device-height: 736px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)" href="assets/apple-touch-startup-image-2208x1242.png"><link rel="apple-touch-startup-image" media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)" href="assets/apple-touch-startup-image-2688x1242.png"><link rel="apple-touch-startup-image" media="(device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)" href="assets/apple-touch-startup-image-2048x1536.png"><link rel="apple-touch-startup-image" media="(device-width: 834px) and (device-height: 1112px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)" href="assets/apple-touch-startup-image-2224x1668.png"><link rel="apple-touch-startup-image" media="(device-width: 834px) and (device-height: 1194px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)" href="assets/apple-touch-startup-image-2388x1668.png"><link rel="apple-touch-startup-image" media="(device-width: 1024px) and (device-height: 1366px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)" href="assets/apple-touch-startup-image-2732x2048.png"><link rel="apple-touch-startup-image" media="(device-width: 810px) and (device-height: 1080px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)" href="assets/apple-touch-startup-image-2160x1620.png"><link rel="icon" type="image/png" sizes="228x228" href="assets/coast-228x228.png"><meta name="msapplication-TileColor" content="#fff"><meta name="msapplication-TileImage" content="assets/mstile-144x144.png"><meta name="msapplication-config" content="assets/browserconfig.xml"><link rel="yandex-tableau-widget" href="assets/yandex-browser-manifest.json"><script defer="defer" src="js/main.bundle.js"></script><link href="main.7117800a74f8d7de6b31.css" rel="stylesheet"></head><body><div class="exchanger"><img class="money" src="./img/money.png" alt="Money"><h1 class="title exchanger__title">Exchange Rate Calculator</h1><p class="subtitle exchanger__subtitle">Choose the currency and the amount to get the exchange rate</p><div class="exchanger__container"><div class="currency exchanger__currency"><select class="currency__select select-one"><option value="AED">AED</option><option value="ARS">ARS</option><option value="AUD">AUD</option><option value="BGN">BGN</option><option value="BRL">BRL</option><option value="BSD">BSD</option><option value="CAD">CAD</option><option value="CHF">CHF</option><option value="CLP">CLP</option><option value="CNY">CNY</option><option value="COP">COP</option><option value="CZK">CZK</option><option value="DKK">DKK</option><option value="DOP">DOP</option><option value="EGP">EGP</option><option value="EUR">EUR</option><option value="FJD">FJD</option><option value="GBP">GBP</option><option value="GTQ">GTQ</option><option value="HKD">HKD</option><option value="HRK">HRK</option><option value="HUF">HUF</option><option value="IDR">IDR</option><option value="ILS">ILS</option><option value="INR">INR</option><option value="ISK">ISK</option><option value="JPY">JPY</option><option value="KRW">KRW</option><option value="KZT">KZT</option><option value="MXN">MXN</option><option value="MYR">MYR</option><option value="NOK">NOK</option><option value="NZD">NZD</option><option value="PAB">PAB</option><option value="PEN">PEN</option><option value="PHP">PHP</option><option value="PKR">PKR</option><option value="PLN">PLN</option><option value="PYG">PYG</option><option value="RON">RON</option><option value="RUB">RUB</option><option value="SAR">SAR</option><option value="SEK">SEK</option><option value="SGD">SGD</option><option value="THB">THB</option><option value="TRY">TRY</option><option value="TWD">TWD</option><option value="UAH">UAH</option><option value="USD" selected="selected">USD</option><option value="UYU">UYU</option><option value="VND">VND</option><option value="ZAR">ZAR</option></select><input class="currency__input input-one" type="number" placeholder="0" value="1"></div><div class="exchanger__rate"><button class="btn swap">Swap</button><div class="rate">123123213123123</div></div><div class="currency exchanger__currency"><select class="currency__select select-two"><option value="AED">AED</option><option value="ARS">ARS</option><option value="AUD">AUD</option><option value="BGN">BGN</option><option value="BRL">BRL</option><option value="BSD">BSD</option><option value="CAD">CAD</option><option value="CHF">CHF</option><option value="CLP">CLP</option><option value="CNY">CNY</option><option value="COP">COP</option><option value="CZK">CZK</option><option value="DKK">DKK</option><option value="DOP">DOP</option><option value="EGP">EGP</option><option value="EUR" selected="selected">EUR</option><option value="FJD">FJD</option><option value="GBP">GBP</option><option value="GTQ">GTQ</option><option value="HKD">HKD</option><option value="HRK">HRK</option><option value="HUF">HUF</option><option value="IDR">IDR</option><option value="ILS">ILS</option><option value="INR">INR</option><option value="ISK">ISK</option><option value="JPY">JPY</option><option value="KRW">KRW</option><option value="KZT">KZT</option><option value="MXN">MXN</option><option value="MYR">MYR</option><option value="NOK">NOK</option><option value="NZD">NZD</option><option value="PAB">PAB</option><option value="PEN">PEN</option><option value="PHP">PHP</option><option value="PKR">PKR</option><option value="PLN">PLN</option><option value="PYG">PYG</option><option value="RON">RON</option><option value="RUB">RUB</option><option value="SAR">SAR</option><option value="SEK">SEK</option><option value="SGD">SGD</option><option value="THB">THB</option><option value="TRY">TRY</option><option value="TWD">TWD</option><option value="UAH">UAH</option><option value="USD">USD</option><option value="UYU">UYU</option><option value="VND">VND</option><option value="ZAR">ZAR</option></select><input class="currency__input input-two" type="number" placeholder="0"></div></div></div></body></html>

exchangeRateCalculator/src/index.pug
doctype html
html(lang="en")
  head
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
    meta(charset="UTF-8")
    meta(name="author" content="Dmitriy Granyov")
    meta(name="description", content="Simple Java Script Solution For Exchange Rate Calculator")
    title Exchange Rate Calculator
  body
    .exchanger
      img.money(src="./img/money.png" alt="Money")
      h1.title.exchanger__title Exchange Rate Calculator
      p.subtitle.exchanger__subtitle Choose the currency and the amount to get the exchange rate
      .exchanger__container
        .currency.exchanger__currency
          select.currency__select.select-one
            option(value='AED') AED
            option(value='ARS') ARS
            option(value='AUD') AUD
            option(value='BGN') BGN
            option(value='BRL') BRL
            option(value='BSD') BSD
            option(value='CAD') CAD
            option(value='CHF') CHF
            option(value='CLP') CLP
            option(value='CNY') CNY
            option(value='COP') COP
            option(value='CZK') CZK
            option(value='DKK') DKK
            option(value='DOP') DOP
            option(value='EGP') EGP
            option(value='EUR') EUR
            option(value='FJD') FJD
            option(value='GBP') GBP
            option(value='GTQ') GTQ
            option(value='HKD') HKD
            option(value='HRK') HRK
            option(value='HUF') HUF
            option(value='IDR') IDR
            option(value='ILS') ILS
            option(value='INR') INR
            option(value='ISK') ISK
            option(value='JPY') JPY
            option(value='KRW') KRW
            option(value='KZT') KZT
            option(value='MXN') MXN
            option(value='MYR') MYR
            option(value='NOK') NOK
            option(value='NZD') NZD
            option(value='PAB') PAB
            option(value='PEN') PEN
            option(value='PHP') PHP
            option(value='PKR') PKR
            option(value='PLN') PLN
            option(value='PYG') PYG
            option(value='RON') RON
            option(value='RUB') RUB
            option(value='SAR') SAR
            option(value='SEK') SEK
            option(value='SGD') SGD
            option(value='THB') THB
            option(value='TRY') TRY
            option(value='TWD') TWD
            option(value='UAH') UAH
            option(value='USD' selected) USD
            option(value='UYU') UYU
            option(value='VND') VND
            option(value='ZAR') ZAR
          input.currency__input.input-one(type="number" placeholder="0" value="1")
        .exchanger__rate
          button.btn.swap Swap
          .rate 123123213123123
        .currency.exchanger__currency
          select.currency__select.select-two
            option(value='AED') AED
            option(value='ARS') ARS
            option(value='AUD') AUD
            option(value='BGN') BGN
            option(value='BRL') BRL
            option(value='BSD') BSD
            option(value='CAD') CAD
            option(value='CHF') CHF
            option(value='CLP') CLP
            option(value='CNY') CNY
            option(value='COP') COP
            option(value='CZK') CZK
            option(value='DKK') DKK
            option(value='DOP') DOP
            option(value='EGP') EGP
            option(value='EUR' selected) EUR
            option(value='FJD') FJD
            option(value='GBP') GBP
            option(value='GTQ') GTQ
            option(value='HKD') HKD
            option(value='HRK') HRK
            option(value='HUF') HUF
            option(value='IDR') IDR
            option(value='ILS') ILS
            option(value='INR') INR
            option(value='ISK') ISK
            option(value='JPY') JPY
            option(value='KRW') KRW
            option(value='KZT') KZT
            option(value='MXN') MXN
            option(value='MYR') MYR
            option(value='NOK') NOK
            option(value='NZD') NZD
            option(value='PAB') PAB
            option(value='PEN') PEN
            option(value='PHP') PHP
            option(value='PKR') PKR
            option(value='PLN') PLN
            option(value='PYG') PYG
            option(value='RON') RON
            option(value='RUB') RUB
            option(value='SAR') SAR
            option(value='SEK') SEK
            option(value='SGD') SGD
            option(value='THB') THB
            option(value='TRY') TRY
            option(value='TWD') TWD
            option(value='UAH') UAH
            option(value='USD') USD
            option(value='UYU') UYU
            option(value='VND') VND
            option(value='ZAR') ZAR
          input.currency__input.input-two(type="number" placeholder="0")
