loveCalc/app/index.pug
doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(name="keywords" content="HTML, Pug, CSS, Less, Bootstrap")
    meta(name="description" content="Calculate your chanses")
    meta(name="author" content="Dmitriy Granyov")
    title Love Calculator
    // Favicon
    link(rel="shortcut icon" href="img/favicon-32x32.png" type="image/x-icon")
    // Bootstrap CSS 
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
    // Custom css
    link(rel="stylesheet" href="css/style.css")
  body
    header.header
      .container
        h1.logo # love
        hr
        p calculator
    main.main
      .container
        .main-content
          h2.main-title click on heart to calculate your chances
          .heart
            i.fas.fa-heart.heart__icon.heartB
            p.heart__result 0
          .text__result
          form.form(action="#")
            .form-group
              label(for="first-name") Your Name
              input.form-input(type="text" data-name="first-name" maxlength="15")
            .form-group
              label(for="second-name") Your Cruch Name
              input.form-input(type="text" data-name="second-name" maxlength="15")
    footer.footer
      .container
        hr
        p
          a.link(href="https://gitlab.com/syr1ken") @syr1ken
    // Bootstrap + JQ
    script(src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous")
    script(src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous")
    // Font Awesome
    script(src="https://kit.fontawesome.com/4ebe998a10.js" crossorigin="anonymous")
    // Custom scripts
    script(src="js/app.js")

loveCalc/dist/index.html
<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1.0"><meta name="keywords" content="HTML, Pug, CSS, Less, Bootstrap"><meta name="description" content="Calculate your chanses"><meta name="author" content="Dmitriy Granyov"><title>Love Calculator</title><!-- Favicon--><link rel="shortcut icon" href="img/favicon-32x32.png" type="image/x-icon"><!-- Bootstrap CSS --><link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" /><!-- Custom css--><link rel="stylesheet" href="css/style.css"></head><body><header class="header"><div class="container"><h1 class="logo"># love</h1><hr><p>calculator</p></div></header><main class="main"><div class="container"><div class="main-content"><h2 class="main-title">click on heart to calculate your chances</h2><div class="heart"><i class="fas fa-heart heart__icon heartB"></i><p class="heart__result">0</p></div><div class="text__result"></div><form class="form" action="#"><div class="form-group"><label for="first-name">Your Name</label><input class="form-input" type="text" data-name="first-name" maxlength="15"></div><div class="form-group"><label for="second-name">Your Cruch Name</label><input class="form-input" type="text" data-name="second-name" maxlength="15"></div></form></div></div></main><footer class="footer"><div class="container"><hr><p><a class="link" href="https://gitlab.com/syr1ken">@syr1ken</a></p></div></footer><!-- Bootstrap + JQ--><script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script><script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script><script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script><!-- Font Awesome--><script src="https://kit.fontawesome.com/4ebe998a10.js" crossorigin="anonymous"></script><!-- Custom scripts--><script src="js/app.js"></script></body></html>
