movieSeatBooking/dist/index.html
<!doctype html><html lang="en"><head><meta charset="UTF-8"><meta name="author" content="Dmitriy Granyov"><meta name="description" content="Simple Java Script Solution For Movie Seat Booking"><meta name="keywords" content="Java Script, java script, javascript, js, Movie Seat Booking, pug, css"><meta name="viewport" content="width=device-width,initial-scale=1"><title>Movie Seat Booking</title><link rel="shortcut icon" href="assets/favicon.ico"><link rel="icon" type="image/png" sizes="16x16" href="assets/favicon-16x16.png"><link rel="icon" type="image/png" sizes="32x32" href="assets/favicon-32x32.png"><link rel="icon" type="image/png" sizes="48x48" href="assets/favicon-48x48.png"><link rel="manifest" href="assets/manifest.json"><meta name="mobile-web-app-capable" content="yes"><meta name="theme-color" content="#fff"><meta name="application-name" content="movieseatbooking"><link rel="apple-touch-icon" sizes="57x57" href="assets/apple-touch-icon-57x57.png"><link rel="apple-touch-icon" sizes="60x60" href="assets/apple-touch-icon-60x60.png"><link rel="apple-touch-icon" sizes="72x72" href="assets/apple-touch-icon-72x72.png"><link rel="apple-touch-icon" sizes="76x76" href="assets/apple-touch-icon-76x76.png"><link rel="apple-touch-icon" sizes="114x114" href="assets/apple-touch-icon-114x114.png"><link rel="apple-touch-icon" sizes="120x120" href="assets/apple-touch-icon-120x120.png"><link rel="apple-touch-icon" sizes="144x144" href="assets/apple-touch-icon-144x144.png"><link rel="apple-touch-icon" sizes="152x152" href="assets/apple-touch-icon-152x152.png"><link rel="apple-touch-icon" sizes="167x167" href="assets/apple-touch-icon-167x167.png"><link rel="apple-touch-icon" sizes="180x180" href="assets/apple-touch-icon-180x180.png"><link rel="apple-touch-icon" sizes="1024x1024" href="assets/apple-touch-icon-1024x1024.png"><meta name="apple-mobile-web-app-capable" content="yes"><meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"><meta name="apple-mobile-web-app-title" content="movieseatbooking"><link rel="apple-touch-startup-image" media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="assets/apple-touch-startup-image-640x1136.png"><link rel="apple-touch-startup-image" media="(device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="assets/apple-touch-startup-image-750x1334.png"><link rel="apple-touch-startup-image" media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="assets/apple-touch-startup-image-828x1792.png"><link rel="apple-touch-startup-image" media="(device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)" href="assets/apple-touch-startup-image-1125x2436.png"><link rel="apple-touch-startup-image" media="(device-width: 414px) and (device-height: 736px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)" href="assets/apple-touch-startup-image-1242x2208.png"><link rel="apple-touch-startup-image" media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)" href="assets/apple-touch-startup-image-1242x2688.png"><link rel="apple-touch-startup-image" media="(device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="assets/apple-touch-startup-image-1536x2048.png"><link rel="apple-touch-startup-image" media="(device-width: 834px) and (device-height: 1112px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="assets/apple-touch-startup-image-1668x2224.png"><link rel="apple-touch-startup-image" media="(device-width: 834px) and (device-height: 1194px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="assets/apple-touch-startup-image-1668x2388.png"><link rel="apple-touch-startup-image" media="(device-width: 1024px) and (device-height: 1366px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="assets/apple-touch-startup-image-2048x2732.png"><link rel="apple-touch-startup-image" media="(device-width: 810px) and (device-height: 1080px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="assets/apple-touch-startup-image-1620x2160.png"><link rel="apple-touch-startup-image" media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)" href="assets/apple-touch-startup-image-1136x640.png"><link rel="apple-touch-startup-image" media="(device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)" href="assets/apple-touch-startup-image-1334x750.png"><link rel="apple-touch-startup-image" media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)" href="assets/apple-touch-startup-image-1792x828.png"><link rel="apple-touch-startup-image" media="(device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)" href="assets/apple-touch-startup-image-2436x1125.png"><link rel="apple-touch-startup-image" media="(device-width: 414px) and (device-height: 736px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)" href="assets/apple-touch-startup-image-2208x1242.png"><link rel="apple-touch-startup-image" media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)" href="assets/apple-touch-startup-image-2688x1242.png"><link rel="apple-touch-startup-image" media="(device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)" href="assets/apple-touch-startup-image-2048x1536.png"><link rel="apple-touch-startup-image" media="(device-width: 834px) and (device-height: 1112px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)" href="assets/apple-touch-startup-image-2224x1668.png"><link rel="apple-touch-startup-image" media="(device-width: 834px) and (device-height: 1194px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)" href="assets/apple-touch-startup-image-2388x1668.png"><link rel="apple-touch-startup-image" media="(device-width: 1024px) and (device-height: 1366px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)" href="assets/apple-touch-startup-image-2732x2048.png"><link rel="apple-touch-startup-image" media="(device-width: 810px) and (device-height: 1080px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)" href="assets/apple-touch-startup-image-2160x1620.png"><link rel="icon" type="image/png" sizes="228x228" href="assets/coast-228x228.png"><meta name="msapplication-TileColor" content="#fff"><meta name="msapplication-TileImage" content="assets/mstile-144x144.png"><meta name="msapplication-config" content="assets/browserconfig.xml"><link rel="yandex-tableau-widget" href="assets/yandex-browser-manifest.json"><script defer="defer" src="js/main.bundle.js"></script><link href="main.625adc8645c536577bba.css" rel="stylesheet"></head><body><div class="select-box"><label>Pick a movie:</label><select class="select-box__select"><option value="10">Avengers: Endgame (10$)</option><option value="12">Joker (12$)</option><option value="8">The Toy Story 4 (8$)</option><option value="9">The Lion King (9$)</option></select></div><ul class="showcase"><li class="showcase__item"><div class="showcase__seat seat"></div><small class="showcase__small">N/A</small></li><li class="showcase__item"><div class="showcase__seat seat seat--selected"></div><small class="showcase__small">Selected</small></li><li class="showcase__item"><div class="showcase__seat seat seat--occupied"></div><small class="showcase__small">Occupied</small></li></ul><div class="theater"><div class="screen"></div><div class="theater__row"><div class="seat"></div><div class="seat"></div><div class="seat"></div><div class="seat"></div><div class="seat"></div><div class="seat"></div><div class="seat"></div><div class="seat"></div></div><div class="theater__row"><div class="seat"></div><div class="seat"></div><div class="seat"></div><div class="seat"></div><div class="seat"></div><div class="seat"></div><div class="seat"></div><div class="seat"></div></div><div class="theater__row"><div class="seat"></div><div class="seat"></div><div class="seat"></div><div class="seat"></div><div class="seat"></div><div class="seat"></div><div class="seat"></div><div class="seat"></div></div><div class="theater__row"><div class="seat"></div><div class="seat"></div><div class="seat"></div><div class="seat"></div><div class="seat"></div><div class="seat"></div><div class="seat"></div><div class="seat"></div></div><div class="theater__row"><div class="seat"></div><div class="seat"></div><div class="seat"></div><div class="seat"></div><div class="seat"></div><div class="seat"></div><div class="seat"></div><div class="seat"></div></div><div class="theater__row"><div class="seat"></div><div class="seat"></div><div class="seat"></div><div class="seat"></div><div class="seat"></div><div class="seat"></div><div class="seat"></div><div class="seat"></div></div></div><p class="total">You have selected <span class="total__count">0</span>&nbsp;seats for a price&nbsp;<span class="total__money">$0</span></p></body></html>

movieSeatBooking/src/index.pug
//- Mixins
mixin Options(option)
  option(value=option.value)=option.text

mixin ShowcaseItem(item)
  li.showcase__item
    div(class=item.div.class)
    small.showcase__small=item.small.text

mixin TheaterSeat(seat)
  div(class=seat)

mixin TheaterRow(row)
  div(class=row.class)
    each seat in row.seats
      +TheaterSeat(seat)

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="author" content="Dmitriy Granyov")
    meta(name="description" content="Simple Java Script Solution For Movie Seat Booking")
    meta(name="keywords" content="Java Script, java script, javascript, js, Movie Seat Booking, pug, css")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Movie Seat Booking
  body
    .select-box
      label Pick a movie:
      - const options = []
      - options.push({value: '10', text: "Avengers: Endgame (10$)"})
      - options.push({value: '12', text: "Joker (12$)"})
      - options.push({value: '8', text: "The Toy Story 4 (8$)"})
      - options.push({value: '9', text: "The Lion King (9$)"})
      select.select-box__select
        each option in options
          +Options(option)
    - const showcaseItems = []
    - showcaseItems.push({div: {class: "showcase__seat seat"}, small: {text: "N/A"}})
    - showcaseItems.push({div: {class: "showcase__seat seat seat--selected"}, small: {text: "Selected"}})
    - showcaseItems.push({div: {class: "showcase__seat seat seat--occupied"}, small: {text: "Occupied"}})
    ul.showcase
      each item in showcaseItems
        +ShowcaseItem(item)
    .theater
      .screen
      - const rows = []
      - rows.push({class: "theater__row", seats: ['seat', 'seat', 'seat', 'seat', 'seat', 'seat', 'seat', 'seat']})
      - rows.push({class: "theater__row", seats: ['seat', 'seat', 'seat', 'seat', 'seat', 'seat', 'seat', 'seat']})
      - rows.push({class: "theater__row", seats: ['seat', 'seat', 'seat', 'seat', 'seat', 'seat', 'seat', 'seat']})
      - rows.push({class: "theater__row", seats: ['seat', 'seat', 'seat', 'seat', 'seat', 'seat', 'seat', 'seat']})
      - rows.push({class: "theater__row", seats: ['seat', 'seat', 'seat', 'seat', 'seat', 'seat', 'seat', 'seat']})
      - rows.push({class: "theater__row", seats: ['seat', 'seat', 'seat', 'seat', 'seat', 'seat', 'seat', 'seat']})
      each row in rows
        +TheaterRow(row)
    p.total
      | You have selected 
      span.total__count 0
      | &nbsp;seats for a price&nbsp;
      span.total__money $0
