weatherApp/src/index.pug
// Const
- const FAVICON = {href: 'img/favicon-32x32.png', type: 'image/x-icon', rel: 'shortcut icon'}

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    <meta name="keywords" content="HTML, Pug, CSS, Sass, Bootstrap, Webpack, ES6, Babel">
    meta(name="description" content="Check the weather")
    meta(name="author" content="Dmitriy Granyov")
    title Weather App
    // Favicon
    link(rel=FAVICON.rel href=FAVICON.href type=FAVICON.type)
  body
    header.header
      .container
        h1.logo # weather app
        hr
        p check the weather
    main.main
      .container
        form.search
          label.search__label search for city
          input.search__input
        hr
        p.error
        .loader__container
        .main__content
          .forecast
          .week
            h2.week__title Week
            hr
            .week__list
          
    footer.footer
      .container
        hr
        p
          a.link(href="https://gitlab.com/syr1ken") @syr1ken

weatherApp/dist/index.html
<!doctype html><html lang="en"><head><meta charset="UTF-8"><meta name="viewport" content="width=device-width,initial-scale=1"><meta name="keywords" content="HTML, Pug, CSS, Sass, Bootstrap, Webpack, ES6, Babel"><meta name="description" content="Check the weather"><meta name="author" content="Dmitriy Granyov"><title>Weather App</title><link rel="shortcut icon" href="img/favicon-32x32.png" type="image/x-icon"><link href="main.042718175c26ae4dd6ac.css" rel="stylesheet"></head><body><header class="header"><div class="container"><h1 class="logo"># weather app</h1><hr><p>check the weather</p></div></header><main class="main"><div class="container"><form class="search"><label class="search__label">search for city</label><input class="search__input"></form><hr><p class="error"></p><div class="loader__container"></div><div class="main__content"><div class="forecast"></div><div class="week"><h2 class="week__title">Week</h2><hr><div class="week__list"></div></div></div></div></main><footer class="footer"><div class="container"><hr><p><a class="link" href="https://gitlab.com/syr1ken">@syr1ken</a></p></div></footer><script src="js/main.bundle.js"></script></body></html>
