menuSliderModal/src/index.pug
//- Mixins
mixin menu(link)
  li.menu__item
    a.menu__link(href="#")=link.text

mixin benefits(benefit)
  li.benefits__item=benefit.text

doctype html
html(lang="en")
  head
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
    meta(charset="UTF-8")
    meta(name="author" content="Dmitriy Granyov")
    meta(name="description", content="Simple Java Script Solution For Menu Slider & Modal Landing Page")
    title Menu Slider Modal Landing Page
  body
    nav.nav
      .logo
        img.logo__img(src="https://randomuser.me/api/portraits/men/74.jpg" alt="user")
      - const links = []
      - links.push({text: "Home"})
      - links.push({text: "Portfolio"})
      - links.push({text: "Blog"})
      - links.push({text: "Contact Me"})
      ul.menu
        each link in links
          +menu(link)
    header.header
      button.toggle
        i.fas.fa-bars
      h1.title Menu Slider Modal Landing Page
      p.subtitle Lorem, ipsum dolor sit amet consectetur adipisicing elit. Velit eos ea magnam quidem, dicta obcaecati adipisci tempore.
      button.btn.cta Sign Up
    .container
      section.main
      h2.main__title What is this landing page about?
      p.main_text Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam eaque rerum officia tempore cum quae ea vero ex laborum sed, iure sapiente necessitatibus doloremque eligendi repellat voluptatibus. Facilis, iusto qui.
      p.main__text Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vel facilis maxime ex quae fugit assumenda dolore nemo? Error, nobis suscipit!
      section.second
        h2 Tell Me More
        p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Praesentium eaque nobis asperiores minima earum. Temporibus et, assumenda omnis velit porro commodi officia inventore illum fuga, maxime magni cupiditate dicta quibusdam.
      section.benefits
        h2.benefits__title Benefits
        - const benefits = []
        - benefits.push({text: "Lifetime Access"})
        - benefits.push({text: "30 Day Money Back"})
        - benefits.push({text: "Tailored Customer Support"})
        ul.benefits__list
          each benefit in benefits
            +benefits(benefit)
        p.benefits__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia repellat quam corrupti. Earum corporis cumque reiciendis illum cupiditate repellat velit eius in nesciunt consequatur dolorem ipsa ex ratione vitae asperiores voluptas, aperiam eum ipsum quibusdam adipisci rerum odit. Corporis hic illum voluptatem voluptatibus natus magni praesentium blanditiis suscipit beatae quas?
    // Modal
    .modal__container
      .modal
        button.close
          i.fas.fa-times
        h3.modal__header Sign Up
        .modal__content
          p.modal__text Register with us to get offers, support and more
          form.form
            .form__group
              label.form__label(for="name") Name
              input.form__input(name="name" type="text" placeholder="Enter Name")
            .form__group
              label.form__label(for="email") Email
              input.form__input(name="email" type="email" placeholder="Enter Email")
            .form__group
              label.form__label(for="password") Password
              input.form__input(name="password" type="password" placeholder="Enter Password")
            .form__group
              label.form__label(for="confirm") Confirm Password
              input.form__input(name="confirm" type="password" placeholder="Confirm Password")
            input.btn(name="submit" type="submit" value="Submit")

menuSliderModal/dist/index.html
<!doctype html><html lang="en"><head><meta name="viewport" content="width=device-width,initial-scale=1"><meta http-equiv="Content-Type" content="text/html;charset=UTF-8"><meta charset="UTF-8"><meta name="author" content="Dmitriy Granyov"><meta name="description" content="Simple Java Script Solution For Menu Slider &amp; Modal Landing Page"><title>Menu Slider Modal Landing Page</title><link rel="shortcut icon" href="assets/favicon.ico"><link rel="icon" type="image/png" sizes="16x16" href="assets/favicon-16x16.png"><link rel="icon" type="image/png" sizes="32x32" href="assets/favicon-32x32.png"><link rel="icon" type="image/png" sizes="48x48" href="assets/favicon-48x48.png"><link rel="manifest" href="assets/manifest.json"><meta name="mobile-web-app-capable" content="yes"><meta name="theme-color" content="#fff"><meta name="application-name" content="menuslidermodal"><link rel="apple-touch-icon" sizes="57x57" href="assets/apple-touch-icon-57x57.png"><link rel="apple-touch-icon" sizes="60x60" href="assets/apple-touch-icon-60x60.png"><link rel="apple-touch-icon" sizes="72x72" href="assets/apple-touch-icon-72x72.png"><link rel="apple-touch-icon" sizes="76x76" href="assets/apple-touch-icon-76x76.png"><link rel="apple-touch-icon" sizes="114x114" href="assets/apple-touch-icon-114x114.png"><link rel="apple-touch-icon" sizes="120x120" href="assets/apple-touch-icon-120x120.png"><link rel="apple-touch-icon" sizes="144x144" href="assets/apple-touch-icon-144x144.png"><link rel="apple-touch-icon" sizes="152x152" href="assets/apple-touch-icon-152x152.png"><link rel="apple-touch-icon" sizes="167x167" href="assets/apple-touch-icon-167x167.png"><link rel="apple-touch-icon" sizes="180x180" href="assets/apple-touch-icon-180x180.png"><link rel="apple-touch-icon" sizes="1024x1024" href="assets/apple-touch-icon-1024x1024.png"><meta name="apple-mobile-web-app-capable" content="yes"><meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"><meta name="apple-mobile-web-app-title" content="menuslidermodal"><link rel="apple-touch-startup-image" media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="assets/apple-touch-startup-image-640x1136.png"><link rel="apple-touch-startup-image" media="(device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="assets/apple-touch-startup-image-750x1334.png"><link rel="apple-touch-startup-image" media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="assets/apple-touch-startup-image-828x1792.png"><link rel="apple-touch-startup-image" media="(device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)" href="assets/apple-touch-startup-image-1125x2436.png"><link rel="apple-touch-startup-image" media="(device-width: 414px) and (device-height: 736px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)" href="assets/apple-touch-startup-image-1242x2208.png"><link rel="apple-touch-startup-image" media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)" href="assets/apple-touch-startup-image-1242x2688.png"><link rel="apple-touch-startup-image" media="(device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="assets/apple-touch-startup-image-1536x2048.png"><link rel="apple-touch-startup-image" media="(device-width: 834px) and (device-height: 1112px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="assets/apple-touch-startup-image-1668x2224.png"><link rel="apple-touch-startup-image" media="(device-width: 834px) and (device-height: 1194px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="assets/apple-touch-startup-image-1668x2388.png"><link rel="apple-touch-startup-image" media="(device-width: 1024px) and (device-height: 1366px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="assets/apple-touch-startup-image-2048x2732.png"><link rel="apple-touch-startup-image" media="(device-width: 810px) and (device-height: 1080px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="assets/apple-touch-startup-image-1620x2160.png"><link rel="apple-touch-startup-image" media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)" href="assets/apple-touch-startup-image-1136x640.png"><link rel="apple-touch-startup-image" media="(device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)" href="assets/apple-touch-startup-image-1334x750.png"><link rel="apple-touch-startup-image" media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)" href="assets/apple-touch-startup-image-1792x828.png"><link rel="apple-touch-startup-image" media="(device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)" href="assets/apple-touch-startup-image-2436x1125.png"><link rel="apple-touch-startup-image" media="(device-width: 414px) and (device-height: 736px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)" href="assets/apple-touch-startup-image-2208x1242.png"><link rel="apple-touch-startup-image" media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)" href="assets/apple-touch-startup-image-2688x1242.png"><link rel="apple-touch-startup-image" media="(device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)" href="assets/apple-touch-startup-image-2048x1536.png"><link rel="apple-touch-startup-image" media="(device-width: 834px) and (device-height: 1112px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)" href="assets/apple-touch-startup-image-2224x1668.png"><link rel="apple-touch-startup-image" media="(device-width: 834px) and (device-height: 1194px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)" href="assets/apple-touch-startup-image-2388x1668.png"><link rel="apple-touch-startup-image" media="(device-width: 1024px) and (device-height: 1366px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)" href="assets/apple-touch-startup-image-2732x2048.png"><link rel="apple-touch-startup-image" media="(device-width: 810px) and (device-height: 1080px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)" href="assets/apple-touch-startup-image-2160x1620.png"><link rel="icon" type="image/png" sizes="228x228" href="assets/coast-228x228.png"><meta name="msapplication-TileColor" content="#fff"><meta name="msapplication-TileImage" content="assets/mstile-144x144.png"><meta name="msapplication-config" content="assets/browserconfig.xml"><link rel="yandex-tableau-widget" href="assets/yandex-browser-manifest.json"><script defer="defer" src="js/main.bundle.js"></script><link href="main.1b2f33e10741d8131238.css" rel="stylesheet"></head><body><nav class="nav"><div class="logo"><img class="logo__img" src="https://randomuser.me/api/portraits/men/74.jpg" alt="user"></div><ul class="menu"><li class="menu__item"><a class="menu__link" href="#">Home</a></li><li class="menu__item"><a class="menu__link" href="#">Portfolio</a></li><li class="menu__item"><a class="menu__link" href="#">Blog</a></li><li class="menu__item"><a class="menu__link" href="#">Contact Me</a></li></ul></nav><header class="header"><button class="toggle"><i class="fas fa-bars"></i></button><h1 class="title">Menu Slider Modal Landing Page</h1><p class="subtitle">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Velit eos ea magnam quidem, dicta obcaecati adipisci tempore.</p><button class="btn cta">Sign Up</button></header><div class="container"><section class="main"></section><h2 class="main__title">What is this landing page about?</h2><p class="main_text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam eaque rerum officia tempore cum quae ea vero ex laborum sed, iure sapiente necessitatibus doloremque eligendi repellat voluptatibus. Facilis, iusto qui.</p><p class="main__text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vel facilis maxime ex quae fugit assumenda dolore nemo? Error, nobis suscipit!</p><section class="second"><h2>Tell Me More</h2><p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Praesentium eaque nobis asperiores minima earum. Temporibus et, assumenda omnis velit porro commodi officia inventore illum fuga, maxime magni cupiditate dicta quibusdam.</p></section><section class="benefits"><h2 class="benefits__title">Benefits</h2><ul class="benefits__list"><li class="benefits__item">Lifetime Access</li><li class="benefits__item">30 Day Money Back</li><li class="benefits__item">Tailored Customer Support</li></ul><p class="benefits__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia repellat quam corrupti. Earum corporis cumque reiciendis illum cupiditate repellat velit eius in nesciunt consequatur dolorem ipsa ex ratione vitae asperiores voluptas, aperiam eum ipsum quibusdam adipisci rerum odit. Corporis hic illum voluptatem voluptatibus natus magni praesentium blanditiis suscipit beatae quas?</p></section></div><div class="modal__container"><div class="modal"><button class="close"><i class="fas fa-times"></i></button><h3 class="modal__header">Sign Up</h3><div class="modal__content"><p class="modal__text">Register with us to get offers, support and more</p><form class="form"><div class="form__group"><label class="form__label" for="name">Name</label><input class="form__input" name="name" placeholder="Enter Name"></div><div class="form__group"><label class="form__label" for="email">Email</label><input class="form__input" name="email" type="email" placeholder="Enter Email"></div><div class="form__group"><label class="form__label" for="password">Password</label><input class="form__input" name="password" type="password" placeholder="Enter Password"></div><div class="form__group"><label class="form__label" for="confirm">Confirm Password</label><input class="form__input" name="confirm" type="password" placeholder="Confirm Password"></div><input class="btn" name="submit" type="submit" value="Submit"></form></div></div></div></body></html>
