budgetApp/app/index.html
<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1.0"><meta name="keywords" content="HTML, Pug, CSS, Stylus, Bootstrap"><meta name="description" content="Calculate your budget"><meta name="author" content="Dmitriy Granyov"><title>Budget App</title><!-- Favicon--><link rel="shortcut icon" href="img/favicon-32x32.png" type="image/x-icon"><!-- Bootstrap CSS --><link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" /><!-- Custom css--><link rel="stylesheet" href="css/style.css"></head><body><header class="header"><div class="container"><h1 class="logo"># budget app</h1><hr><p>calculate your budget</p></div></header><main class="main"><div class="container"><div class="budget"><div class="budget-top"><h2 class="budget-top-tittle">Budget in <span class="budget-top-tittle__month">%Month%</span>:</h2><p class="budget-top__value">+ 2,345.64</p><div class="budget-top-income"><h3 class="budget-top-income__text">Income</h3><p class="budget-top-income__value">+ 4,300.00</p></div><div class="budget-top-expenses"><h3 class="budget-top-expenses__text">Expenses</h3><p class="budget-top-expenses__value">- 1,954.36</p></div></div><div class="budget-middle"><div class="add"><div class="add__group"><select class="add__type"><option value="inc" selected>+</option><option value="exp">-</option></select><input class="add__description" type="text" maxlength="10" placeholder="Add description"></div><div class="add__group"><input class="add__value" type="number" placeholder="Value"><button class="add__btn"><i class="far fa-check-circle add_icon"></i></button></div></div></div><div class="budget-bottom"><div class="income"><h2 class="icome__title">Income</h2><div class="income__list"></div></div><div class="expenses"><h2 class="expenses__title">Expenses</h2><div class="expenses__list"></div></div></div></div></div></main><footer class="footer"><div class="container"><hr><p><a class="link" href="https://gitlab.com/syr1ken">@syr1ken</a></p></div></footer><!-- Bootstrap + JQ--><script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script><script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script><script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script><!-- Font Awesome--><script src="https://kit.fontawesome.com/4ebe998a10.js" crossorigin="anonymous"></script><!-- Custom scripts--><script src="js/app.js"></script></body></html>

budgetApp/app/index.pug
doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    <meta name="keywords" content="HTML, Pug, CSS, Stylus, Bootstrap">
    meta(name="description" content="Calculate your budget")
    meta(name="author" content="Dmitriy Granyov")
    title Budget App
    // Favicon
    link(rel="shortcut icon" href="img/favicon-32x32.png" type="image/x-icon")
    // Bootstrap CSS 
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
    // Custom css
    link(rel="stylesheet" href="css/style.css")
  body
    header.header
      .container
        h1.logo # budget app
        hr
        p calculate your budget
    main.main
      .container
        .budget
          .budget-top
            h2.budget-top-tittle
              | Budget in 
              span.budget-top-tittle__month %Month%
              | :
            p.budget-top__value + 2,345.64
            .budget-top-income
              h3.budget-top-income__text Income
              p.budget-top-income__value + 4,300.00
            .budget-top-expenses
              h3.budget-top-expenses__text Expenses
              p.budget-top-expenses__value - 1,954.36
          .budget-middle
            .add
              .add__group
                select.add__type
                  option(value="inc" selected) +
                  option(value="exp") -
                input(type="text" class="add__description" maxlength="10" placeholder="Add description")
              .add__group
                input(type="number" class="add__value" placeholder="Value")
                button.add__btn
                  i.far.fa-check-circle.add_icon
          .budget-bottom
            .income
              h2.icome__title Income
              .income__list
            .expenses
              h2.expenses__title Expenses
              .expenses__list
    footer.footer
      .container
        hr
        p
          a.link(href="https://gitlab.com/syr1ken") @syr1ken
    // Bootstrap + JQ
    script(src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous")
    script(src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous")
    // Font Awesome
    script(src="https://kit.fontawesome.com/4ebe998a10.js" crossorigin="anonymous")
    // Custom scripts
    script(src="js/app.js")
